.selected {
  border: 2px solid blue;
}

table .selected {
  border: none;
  background-color: #424D59;
}

tr:hover {
    background-color: #424D59;
}

tr:hover td {
    background-color: transparent; 
}

input:focus, button:focus {
  border: none;
  outline: none;
} 

.dragAndDrop {
background-image: repeating-linear-gradient(182deg, #8D949B, #8D949B 25.76px, transparent 28px, transparent 44.56px, #8D949B 46px), repeating-linear-gradient(272deg, #8D949B, #8D949B 25.76px, transparent 28px, transparent 44.56px, #8D949B 46px), repeating-linear-gradient(2deg, #8D949B, #8D949B 25.76px, transparent 28px, transparent 44.56px, #8D949B 46px), repeating-linear-gradient(92deg, #8D949B, #8D949B 25.76px, transparent 28px, transparent 44.56px, #8D949B 46px);
background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;
opacity: 30%;
}


.addInput {
  width: 20%;
  height: 4vh;
  border: 1px solid black;
}

.editable-div:empty::before {
  content: "Enter Title Here";  
  color: gray;
  pointer-events: none; 
  font-weight: 600;
  font-size: 32px;
}

.editable-div{
  font-size: 32px;
  max-width: 400px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}



@media screen and (max-width: 620px) {
  
  .editable-div{
    font-size: 20px;
  max-width: 200px;

  }
  .editable-div:empty::before{
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .inner-text {
    font-size: 10px; /* Adjust the font size as needed */
  }
  .table-text {
    font-size: 10px; /* Adjust the font size as needed */
  }
}

@media screen and (min-width: 1080px) {
  .inner-text {
    font-size: 12px; /* Adjust the font size as needed */
  }
  .table-text {
    font-size: 11px; /* Adjust the font size as needed */
  }
}

@media screen and (min-width: 1200px) {
  .inner-text {
    font-size: 15px; /* Adjust the font size as needed */
  }
  .table-text {
    font-size: 12px; /* Adjust the font size as needed */
  }
}



  @media (max-width: 992px) { /* Large devices (lg) */
    .imageList {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    .responsive-input {
      width: 150px !important;
    }
  }
